.btn-clear {
    margin-top: 20px;
    border: 2px solid #fbfbfb;
    color: #fbfbfb;
    font-size: 18px;
    text-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1)
}

.btn-clear:hover, .btn-clear:focus, .btn-clear:active {
    background-color: #fbfbfb;
    color: #212529;
}

.btn-outline-dark {
    font-size: 18px;
}

.fa-angle-double-right {
    position: relative;
    top: 1px;
}

.flexContainer {
    width: 650px;
}

#headshot {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 3px solid #fbfbfb;
    box-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1)
}

#hero {
    height: 90vh;
}

#hero > .container {
    height: 100%;
}

.introHeader {
    margin: 20px 0 15px;
    position: relative;
    left: 4px;
    text-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
    font-size: 24px;
}

.introText {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
    text-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1)
}

.projectSeparator {
    margin: 20px 0;
}

@media (max-width: 768px) {
    .btn-clear {
        font-size: 14px;
    }

    .btn-outline-dark {
        font-size: 14px;
    }

    #headshot {
        height: 125px;
        width: 125px;
    }

    .introText {
        font-size: 14px;
    }
}