.btn-success {
    font-size: 18px;
}

.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #f8f9fa;
    min-height: 475px;
}

.card:hover, .card:focus, .card:active {
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
    text-decoration: none !important;
}

.card-body hr {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.card-img-top {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    height: auto;
}

.card-text, .card-title {
    color: #333;
}

#contactForm {
    background-color: #eef2f5;
}

.flexContainer {
    width: 650px;
}

.footerHeadshotContainer {
    width: 100%;
    margin: 0 auto;
}

.footerName {
    font-size: 20px;
}

.headshotHero {
    height: 150px;
    width: 150px;
}

#hero {
    height: 90vh;
}

.introHeader {
    margin: 20px 0 15px;
    position: relative;
    left: 4px;
    font-size: 24px;
}

.introText {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;
}

#Message {
    min-height: 134px;
}

.separator {
    margin: 20px 0;
}

.spinner-border {
    position: relative;
    top: -3px;
}

.spinner-border, .thanks {
    display: none;
}

@media (max-width: 768px) {
    .btn-success, .introText {
        font-size: 14px;
    }

    .headshotHero {
        height: 125px;
        width: 125px;
    }

    #hero {
        height: 80vh;
    }

    .introHeader {
        font-size: 18px;
    }
}