body {
    background-color: #e1e1e1;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}

.bodyContainer {
    margin: -40px 25px 35px;
    padding-top: 35px;
    background: #fbfbfb;
    -webkit-box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.2);
    overflow-x: hidden;
}

.boxShadow {
    box-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
    -moz-box-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
}

.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #f8f9fa;
    min-height: 475px;
}

.card:hover, .card:focus, .card:active {
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
    text-decoration: none !important;
}

.card-body hr {
    margin-top: 0;
    margin-bottom: 0.75rem;
}

.card-img-top {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    height: auto;
}

.card-text, .card-title {
    color: #333;
}

.gradient {
    border-width: 90px 99vw 0 0;
    border-style: solid;
}

.gradient1 {
    border-color: #fbfbfb #eef2f5 transparent transparent;
}

.headshot {
    border-radius: 75px;
    border: 3px solid #fbfbfb;
}

.headshotFooter {
    height: 125px;
    width: 125px;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../Images/Hero.jpeg");
    width: 100%;
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fbfbfb;
    background-color: #242424;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
}

footer {
    background-color: #242424;
    color: #fbfbfb;
    padding: 20px 0;
}

footer hr {
    border-top: 1px solid #fbfbfb;
    margin-top: 0;
}

.footerLink {
    color: #fbfbfb;
}

.footerLink:hover, .footerLink:active, .footerLink:focus {
    color: #c8c8c8;
    text-decoration: none;
}

.mainImage {
    width: auto;
    height: 200px;
}

p {
    margin-bottom: 0;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    color: #fbfbfb;
    font-weight: 300;
    background-color: transparent;
    transition: background-color 200ms linear;
}

.navbar.scrolled {
    background-color: #242424 !important;
    transition: background-color 200ms linear;
}

.navbar-brand {
    font-size: 22px;
    margin-bottom: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: #fbfbfb;
} 

.nav-item {
    margin: 0 5px;
}

.nav-link {
    color: #fbfbfb !important;
    border-radius: 4px;
    font-size: 18px;
}

.nav-link:hover, .nav-link:active, .nav-link:focus {
    background-color: rgba(255, 255, 255, .3);
}

.textShadow {
    text-shadow: 0 4px 3px rgba(0,0,0,.4),0 8px 13px rgba(0,0,0,.1),0 18px 23px rgba(0,0,0,.1);
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .card {
        min-height: 365px;
    }

    h1, h2, h3 {
        font-size: 20px;
    }

    h4, h5, h6,
    .h4, .h5, .h6 {
        font-size: 16px;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .nav-item {
        margin: 0;
    }

    .nav-link {
        font-size: 14px;
        margin-top: 5px;
    }
}

@media (max-width: 576px) {
    .fh2 {
        margin-top: 20px;
    }

    .card {
        min-height: 0;
    }
}